[submodule ".config/nvim/after/syntax/c-syntax.vim"]
	path = .config/nvim/after/syntax/c-syntax.vim
	url = https://github.com/agfline/c-syntax.vim.git
[submodule ".config/nvim/pack/plugin/opt/fzf.vim"]
	path = .config/nvim/pack/plugin/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".config/nvim/pack/plugin/opt/gruvbox"]
	path = .config/nvim/pack/plugin/opt/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule ".config/nvim/pack/plugin/opt/indentLine"]
	path = .config/nvim/pack/plugin/opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".config/nvim/pack/plugin/opt/lightline.vim"]
	path = .config/nvim/pack/plugin/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".config/nvim/pack/plugin/opt/nerdtree"]
	path = .config/nvim/pack/plugin/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".config/nvim/pack/plugin/opt/vim-fugitive"]
	path = .config/nvim/pack/plugin/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/pack/plugin/opt/vim-matchup"]
	path = .config/nvim/pack/plugin/opt/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule ".config/nvim/pack/plugin/opt/vim-sleuth"]
	path = .config/nvim/pack/plugin/opt/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".config/nvim/pack/plugin/opt/vim-tmux-navigator"]
	path = .config/nvim/pack/plugin/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".config/nvim/pack/plugin/opt/vim-searchlight"]
	path = .config/nvim/pack/plugin/opt/vim-searchlight
	url = https://github.com/PeterRincker/vim-searchlight.git
